@import "tailwindcss";

@layer components {
  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-2xl;
  }

  .button {
    @apply bg-blue-500 rounded-xl h-12 text-blue-50 hover:bg-blue-400 transition-colors hover:cursor-pointer text-lg disabled:hover:cursor-not-allowed;
  }
}
